$themes: (
    light: (
        color-background: #fafafa,
        color-card: #fafafa,
        body-padding:30px
    ),
    dark: (
        color-background: #37474F,
        color-card: #212121
    )
);