[Unit]
Description=Hooshabi Dotnet Service

[Service]
WorkingDirectory=/home/mohsen/apps/publishserver
ExecStart=/usr/bin/dotnet /home/mohsen/apps/publishserver/Hooshabi.Server.Host.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target